DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_MIGRATIONS_RUN=
DB_SYNCHRONIZE=

PBKDF2_ITERATIONS=
PBKDF2_KEY_LEN=
PBKDF2_DIGEST=
PBKDF2_SALT_LEN=
PBKDF2_SEPARATOR=

JWT_SECRET=
JWT_REFRESH_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

OPENAI_API_KEY=